* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    height: 10vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: black;
}

.logo {
    width: 10vw;
    margin-right: 80px;
}

.nav-links {
    color: #1ed760    ;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
}
input{
    height: 50px;
    width: 50px;
    display: none;
}

@media (max-width: 376px) {
    .navbar{
        height: 100vh;
        width: 30vw;
        margin-left: -30vw;
        display: flex;
        flex-direction: column;
        transition: 0.5s;
    }
    input{
        display: block;
        position: fixed;
        right: 0px;
    }
    input:checked + .navbar {
        display: flex;
        margin-left: 0;
    }
    .logo{
        margin-right: 0;
        width: 20vw;
    }
}